# Build folders
bin/
obj/

# Visual Studio / Rider / IDE
*.user
*.suo
*.vscode/
*.idea/

# OS
*.DS_Store
Thumbs.db

# Environment variables
.env

# Local development settings
appsettings.Development.json

# Logs
*.Logs